body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

html {
  font-size: 16px; /* Define the base font size */
}

.init-img,
.fin-img {
  width: 12rem; /* adjust as needed */
  height: 8rem; /* adjust as needed */
}

@media only screen and (max-width: 600px) {
  .init-img,
  .fin-img {
    width: 90vw; /* 90% of the viewport width */
    height: auto; /* Maintain aspect ratio */
    max-width: 9rem; /* Maximum width */
    max-height: 6em; /* Maximum height */
  }
}


#cakeContainer {
  position: fixed;
  bottom: 5% ;/* Adjust as needed */
  right:3%;
  transform: translateY(-50%);
}

#showCakeButton,
#lightCandleButton {
  position: fixed;
  right: 5%;
  bottom: 5%;
}
